<html>

  <head>
    <title>Blog</title>
  </head>

  <body>

    <div>
      <h1><a href=''>Blog</a></h1>
    </div>


    <div>
      <p><strong>published: 22.07.2017 1:14</strong></p>
      <h2><a href=''>My first post</a></h2>
      <p><em>Hi mum, it's my first post</em></p>
    </div>

    <div>
      <p><strong>published: 22.07.2017 1:20</strong></p>
      <h2><a href=''>My second post</a></h2>
      <p><em>Some tablitsa:</em></p>
      <ul><li>Ein</li><li>Zwei</li><li>Drei</li><ul>
    </div>

    <div>
      <p><em>Hi</em> <br />there</p>
      <p>It  <br /><strong>works</strong></p>
    </div>

  </body>

</html>
